# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.otec.egory.api.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\MyProjects\C#\otec.egory.api\.idea\.idea.otec.egory.api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources.xml
